region = "us-east-1"

s3_buckets = [{
  name                = "terraform-state-bootstrap-rs-school-devops"
  enable_encryption   = true
  enable_key_rotation = true
  enable_logging      = true
  logging_bucket_name = "logs-for-terraform-state-bootstrap-rs-school-devops"
  object_ownership    = "BucketOwnerEnforced"
  versioning_status   = "Enabled"
  lifecycle_rule = {
    status                             = "Enabled"
    prefix                             = ""
    expiration_days                    = 0
    noncurrent_version_expiration_days = 90
    noncurrent_version_transition_days = 30
  }
}]

groups = [
  {
    name = "rsschool-devops-course"
    path = "/"
    aws_managed_policies = [
      "AmazonEC2FullAccess",
      "AmazonRoute53FullAccess",
      "AmazonS3FullAccess",
      "IAMFullAccess",
      "AmazonVPCFullAccess",
      "AmazonSQSFullAccess",
      "AmazonEventBridgeFullAccess",
      "AWSKeyManagementServicePowerUser",
      "CloudWatchLogsFullAccess"
    ]
  }
]

users = [
  {
    name        = "rsschool-user"
    group_names = ["rsschool-devops-course"]

    permission_boundaries_allow = [
      "ec2:*",
      "elasticloadbalancing:*", # EC2FullAccess
      "autoscaling:*",          # EC2FullAccess
      "cloudwatch:*",           # EC2FullAccess
      "logs:*",              
      "route53:*",
      "route53domains:*",
      "s3:*",
      "iam:*",
      "sqs:*",
      "events:*",    # EventBridgeFullAccess
      "schemas:*",   # EventBridgeFullAccess
      "scheduler:*", # EventBridgeFullAccess
      "pipes:*",     # EventBridgeFullAccess
      "kms:*",
      "ec2-instance-connect:*",
      "sts:DecodeAuthorizationMessage" # Needed for debugging purposes in case of encoded error messages from AWS services
    ]

    tags = {
      "Task"        = "01"
      "Project"     = "rsschool-devops-course"
      "Environment" = "dev"
      "ManagedBy"   = "Terraform"
    }
  }
]

oidc_roles = [
  {
    name        = "GithubActionsRole"
    github_repo = "lerkasan/rsschool-devops-course-tasks"

    aws_managed_policies = [
      "AmazonEC2FullAccess",
      "AmazonRoute53FullAccess",
      "AmazonS3FullAccess",
      "IAMFullAccess",
      "AmazonVPCFullAccess",
      "AmazonSQSFullAccess",
      "AmazonEventBridgeFullAccess",
      "AWSKeyManagementServicePowerUser",
      "CloudWatchLogsFullAccess"
    ]

    permission_boundaries_allow = [
      "ec2:*",
      "elasticloadbalancing:*", # EC2FullAccess
      "autoscaling:*",          # EC2FullAccess
      "cloudwatch:*",           # EC2FullAccess
      "logs:*",
      "route53:*",
      "route53domains:*",
      "s3:*",
      "iam:*",
      "sqs:*",
      "events:*",    # EventBridgeFullAccess
      "schemas:*",   # EventBridgeFullAccess
      "scheduler:*", # EventBridgeFullAccess
      "pipes:*",     # EventBridgeFullAccess
      "kms:*"
    ]

    tags = {
      "Task"        = "01"
      "Project"     = "rsschool-devops-course"
      "Environment" = "dev"
      "ManagedBy"   = "Terraform"
    }
  }
]