region = "us-east-1"

s3_buckets = [{
  name                = "bucket-name-for-terraform-state"
  enable_encryption   = true
  enable_key_rotation = true
  object_ownership    = "BucketOwnerEnforced"
  versioning_status   = "Enabled"
  lifecycle_rule = {
    status                             = "Enabled"
    prefix                             = ""
    expiration_days                    = 0
    noncurrent_version_expiration_days = 90
    noncurrent_version_transition_days = 30
  }
}]

users = [
  {
    name = "name-for-iam-user"

    aws_managed_policies = [
      "AmazonEC2FullAccess",
      "AmazonRoute53FullAccess",
      "AmazonS3FullAccess",
      "IAMFullAccess",
      "AmazonVPCFullAccess",
      "AmazonSQSFullAccess",
      "AmazonEventBridgeFullAccess"
    ]

    permission_boundaries_allow = [
      "ec2:*",                  # EC2FullAccess
      "elasticloadbalancing:*", # EC2FullAccess
      "cloudwatch:*",           # EC2FullAccess
      "autoscaling:*",          # EC2FullAccess
      "route53:*",
      "route53domains:*",
      "s3:*",
      "iam:*",
      "sqs:*",
      "events:*",    # EventBridgeFullAccess
      "schemas:*",   # EventBridgeFullAccess
      "scheduler:*", # EventBridgeFullAccess
      "pipes:*"      # EventBridgeFullAccess
    ]

    tags = {
      "Task"        = "01"
      "Project"     = "rsschool-devops-course"
      "Environment" = "dev"
      "ManagedBy"   = "Terraform"
    }
  }
]

oidc_roles = [
  {
    name        = "NameForGithubActionsRole"
    github_repo = "lerkasan/rsschool-devops-course-tasks"

    aws_managed_policies = [
      "AmazonEC2FullAccess",
      "AmazonRoute53FullAccess",
      "AmazonS3FullAccess",
      "IAMFullAccess",
      "AmazonVPCFullAccess",
      "AmazonSQSFullAccess",
      "AmazonEventBridgeFullAccess"
    ]

    permission_boundaries_allow = [
      "ec2:*",                  # EC2FullAccess
      "elasticloadbalancing:*", # EC2FullAccess
      "cloudwatch:*",           # EC2FullAccess
      "autoscaling:*",          # EC2FullAccess
      "route53:*",
      "route53domains:*",
      "s3:*",
      "iam:*",
      "sqs:*",
      "events:*",    # EventBridgeFullAccess
      "schemas:*",   # EventBridgeFullAccess
      "scheduler:*", # EventBridgeFullAccess
      "pipes:*"      # EventBridgeFullAccess
    ]

    tags = {
      "Task"        = "01"
      "Project"     = "rsschool-devops-course"
      "Environment" = "dev"
      "ManagedBy"   = "Terraform"
    }
  }
]