github-username=lerkasan
github-token=provide_your_github_token_here
dockerhub-username=lerkasan
dockerhub-token=provide_your_dockerhub_token_here
sonarqube-token=provide_your_sonarqube_token_here
smtp-username=jenkins.notify.lerkasan@gmail.com
smtp-password=provide_your_smtp_password_here
